* { box-sizing: border-box; }

body {
  margin: 15px;
  padding: 0;
  border: 0;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

textarea {
  padding: 0;
  margin: 0;
  border: solid 1px #999;
  height: 64px;
}

.wrap {
  width: 960px;
  margin: 0 auto;
}

.section {
  border-bottom: solid 1px #666;
  padding: 20px 0;
}

input[name="endpoint"] { width: 320px; }
input[name="preview_url"] { width: 100%; }
img {
  display: block;
  margin: 0 auto;
}

.preview input { width: 48px; }
#example_label { color: #c33; }

.bbox { display: none; }

.CodeMirror {
  width: 640px;
  height: 300px;
  font-size: smaller;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
  justify-content: space-evenly;
}

.ml-lg { margin-left: 30px; }
.mt-0 { margin-top: 0; }
.mr-sm { margin-right: 10px; }
.mb-md { margin-bottom: 15px; }
